<!-- your html code here -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Exercise-Collabration</title>
    <link rel="stylesheet" href="../assets/css/style.css">

</head>
<body>
<div class="jumbotron jumbotron-fluid bg">
    <div class="container-full text-center">
        <h1 class="display-4">One Page Wonder</h1>
        <p class="lead">Will Knock Your Socks Off.</p>
    </div>
</div>
</body>

</html>
