<div class="media">
        <img src="https://ichef.bbci.co.uk/news/ws/660/amz/worldservice/live/assets/images/2016/04/11/160411121836_tigre_624x415_thinkstock_nocredit.jpg"
            class="mr-3" alt="...">
        <div class="media-body">
            <h1>The Second Heading <span style="color:#7A8282">Is Pretty Cool Too.</span></h1>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum <br>
                the industry's standard dummy text ever since the 1500s, when an unknown printer took a <br>
                of type and scrambled it to make a type specimen book.
            </p>
        </div>
    </div>

